<% if (locals.errors) { %>
  <div class="form-errors">
    <ul class="form-errors-list">
      <% errors.forEach((error) => { %>
        <li class="form-error"><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>