<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/icon.png" />
    <title>Error 500 - Mage Spellbook | Inventory Application</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <main class="main">
      <section class="section">
        <div class="error-page">
          <h2 class="error-title">Something Went Wrong</h2>

          <p class="error-text">
            An unexpected error occurred while processing your request. Please
            try again later.
          </p>

          <a href="/" class="button-primary"> Return to Spellbook </a>
        </div>
      </section>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
