<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/icon.png" />
    <title>Mage Spellbook | Inventory Application</title>
  </head>
  <body>
    <h1>Mage Spellbook</h1>
    <% elements.forEach((element) => { %>
        <h2><%= element.name %></h2>
        <p><%= element.description %></p>
    <% }) %>

    <a href="/elements/add">Add Element</a>
  </body>
</html>
