<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/icon.png" />
    <title>Mage Spellbook | Inventory Application</title>
  </head>
  <body>
    <h1>Mage Spellbook</h1>
    <%- include("partials/errors.ejs") %>
    <h2>Update Element</h2>
    <form action="/elements/<%= element.name %>/update" method="POST">
      <label for="name">Element Name:</label>
      <input type="text" name="name" value="<%= element.name %>" required />
      <label for="description">Description</label>
      <textarea rows="4" name="description" required>
<%= element.description %></textarea
      >
      <button type="submit">Add</button>
    </form>
  </body>
</html>
